.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
    justify-content: space-between;

}


.flex-container > * {
    padding: auto;
    flex: 1 100%;

}

.nav-bar{
    position: fixed;
    top: 0;
    background-color: black;
    color: #c7c7c7;

}
.info {
    background: transparent;
    flex: 1;
    float:right;
}
.links{
    background-color: transparent;
    float: left;
    max-width: 20%;
    min-width: 210px;
}


.main {
    background-color: transparent;
    padding-bottom: 50px;
    flex-grow: 3;
    margin: auto;
    align-items: flex-end;



}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 2px;
    padding: 5px;
    text-align: center;
    background-color: black;
    border-top: groove;
    border-color: #34495e;
    border-width: 1px;


}
.sortassembly{
    float:left;
    margin-left: 2%;
    display: block;
    text-align: left;
    min-width: inherit;
}
.title {
    font-family: 'IM Fell Great Primer SC', Serif;
    font-size: 3em;
    background-color: transparent;
    color: #c7c7c7;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    text-shadow: 3px 3px #000;

}
a.title:link, .title:active .title:visited {
    text-decoration: none;
}

h3 {
    font-family: 'IM Fell Great Primer SC', cursive;
    font-size: 2em;
    text-shadow: 3px 3px #000;

}

.number{
    padding: 1%;
    color: #c7c7c7;
    font-family: Helvetica, Serif;
}

.input{
    font-family: 'IM Fell Great Primer SC', Serif;
    color: #c7c7c7;
}


.field{
    width: 200px;
    height: 43px;
    border: none;
    position: relative;
}
.field.city{
    width: 40%;
}
.field.checkout{
    width: 50%;
}
.field.zip{
    width: 10%;
}
.button:hover{
    background-color: #4a657a;
    cursor: pointer;
}
.button{
    background-color: #34495e;
    text-decoration: none;
    height: 43px;
    width: 200px;
    margin: 0;
    padding: 0;
    color: #c7c7c7;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    position: relative;
    border: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

}

.button.confirm{
    line-height: 43px;
    float: none;
    height: 43px;
    width: 200px;
}

#logged_in{
    float:right;
    line-height: 1em;
    margin-right: 1%;
    margin-left: 1%;

    width: auto;
    right: 200px;
    left: 200px;
}
.button.login.cartlink {
    background-image: url("../images/basket_transparent.png");
    background-size: 35px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #34495e;
    float: left;
    height: 43px;
    margin-right: 1%;
    margin-left:1%;
    width: 200px;
    left:200px;
    right: 200px;
    text-align: center;
}
.button.login.cartlink:hover{
    background-color: #4a657a;
}
#cart {
    height: 33px;
    float: right;
    margin: 5px;
}
.button.login {
    float:right;
    line-height: 43px;
    text-align: center;
}
.book {
    text-align: left;
}
.book th {
    padding-bottom: 2px;
    padding-top: 10px;
}
.book td{
    padding-bottom: 10px;
    padding-top: 2px;
}
.book tr:hover{
    background-color: transparent;
}
@media all and (min-width: 570px) {
    .aside {
        flex: 1 auto;
    }


}
@media all and (max-width: 800px) {
    .aside { flex: 1 auto; }
    .links{ max-width: 100%;
            justify-content: center;
            align-items: center;

    }

    .sortassembly{
        float: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: inherit;
    }



}
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }

}

@media all and (min-width: 800px) {
    .main{
        flex: 3 0;
        order: 2;

        }
    .links { order: 1;
            min-width: 210px;
        }
    .info { order: 3; }
    .footer  { order: 4; }
}

body {
    font-family: 'IM Fell Great Primer SC', serif;
    background: black;
    color: #c7c7c7;
    background-image: url("../images/icedragon.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top;
    background-position-y: 86px;

}
p {
    font-family: Helvetica, sans-serif;
}
table {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: left;
    font-size: 1em;
}

.bookRow{
    border-bottom: groove;
    border-width: 1px;
    border-color: #34495e;


}
tr:hover {background-color: #4a657a}
th,td {
    padding: 15px;
}
a{
    color: #c7c7c7;
    padding: 10px;
}
a.button.confirm{
    height: 43px;
    width: 200px;
}

a.button.add{
    padding: 15px;
}

nav .drop-down {
    list-style: none;
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: 86px;
    background-color: #34495e;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    float: left;
    position: absolute;



}
.drop-down:hover{
    cursor: pointer;

}
.drop-down{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

nav .drop-down.closed {
    /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
    /* current li height 38px + 5px border */
    height: 43px;
}

nav .drop-down li {
    border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
    display: block;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: -30px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
}

.drop-down.sortmenu{
    float: none;
    clear:both;
    position:relative;
    height: auto;
    z-index:10;
    overflow-y: inherit;
    max-height: 600px;
}
.drop-down.sortmenu.closed{
    overflow-y: hidden;
}
.drop-down ul {
    position: absolute;
}
.drop-down.sortmenu.sort2 {
    z-index: 8;
}
.drop-down li:hover {
    background-color: #4a657a;
}
#rsp_email{
    padding-top: 12px;
    position: absolute;
    text-align: center;

}
.cart{
    padding: 0px;
    position: inherit;
    display: inline-block;
}
.box{

    background-color: #34495e;
    border: groove;
    border-width: 5px;
    border-color: #1e1e1e;
    line-height: 0.6em;
    text-align: left;
    padding-left:10px;
    padding-right:10px;
    margin: 5px;
    margin-left: 20px;
    font-family: Helvetica, serif;
    font-size: 1em;

}
.box.title {
    background-color: inherit;
    border: none;
    font-size: 1.1em;
    font-family: 'IM Fell Great Primer SC', Serif;
    padding-left: 20px;
}

#ordered{
    float: none;
    align-content: center;
}



input[type="submit"]{
    font-family: 'IM Fell Great Primer SC', Serif;
    font-size: 1em;
    margin: 5px;
    width: 200px;

}
input[type="submit"]:hover{
    cursor: hand;
}

button[type="submit"]:hover{
    cursor: hand;
}
button[type="submit"]{
    font-family: 'IM Fell Great Primer SC', Serif;
    font-size: 1em;
    margin: 5px;
    width: 200px;
    height: 43px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
