.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;


    text-align: center;
    
    /*background-image:linear-gradient(to right, black 60%,white 60%), url("../images/icedragon.jpg");
    background-blend-mode: darken;*/
    
    background-image: url("../images/icedragon.jpg");
    
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top;

}

.flex-container > * {
    padding: 10px;
    flex: 1 100%;
    font-family: 'Berkshire Swash', cursive;
}
.header{
    align-content: space-between;
    align-items: baseline;
    alignment: left;
    background-color: black;

}

.number{
    color: red;
    padding: 1%;
}
.curPage{
    color: aqua;
}
.main {
    text-align: center;
    background: transparent;
    padding-bottom: 50px;
}
.title {
    font-family: 'IM Fell Great Primer SC', Serif;
    font-size: 150%;
    color: aqua;
    background-color: transparent;

}
a.title:link, .title:active .title:visited {
    text-decoration: none;
}

h3 {
    font-family: 'IM Fell Great Primer SC', cursive;
    font-size: 120%;
}

.sorting-title {
    text-align: center;
    float: none;
    width: 150px;
}

.basket{

}
/*.header {background: #123456; }*/


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    border-top: groove;
    border-color: #1e1e1e;
    border-width: 2px;
}
.info {
    background: transparent;

}
.input{
font-family: 'Berkshire Swash';
}


.field{
    width: 200px;
    height: 43px;
    border: none;
    position: relative;
}
.field.city{
    width: 40%;
}
.field.checkout{
    width: 50%;
}
.field.zip{
    width: 10%;
}
.button:hover{
    background-color: #4a657a;
}
.button{
    background-color: #34495e;
    text-decoration: none;
    height: 43px;
    width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 0;

    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    position: relative;
    border: none;
    color: aqua;
}

.button.confirm{
    vertical-align: middle;
    line-height: 43px;
    color: aqua;

}

#logged_in{
    float:right;
    line-height: 1em;
    margin-right: 1%;
    margin-left: 1%;

    width: 200px;
    right: 200px;
    left: 200px;
}
.button.login.cartlink {
    background-color: #34495e;
    float: left;
    height: 43px;
    margin-right: 1%;
    margin-left:1%;
    width: 200px;
    left:200px;
    right: 200px;
    text-align: center;
}
.button.login.cartlink:hover{
    background-color: #4a657a;

}
#cart {
    height: 33px;
    float: right;
    margin: 5px;


}
.login {
    float:right;
    line-height: 43px;
}
.book {
    text-align: left;
}
.book th {
    padding-bottom: 2px;
    padding-top: 10px;
}
.book td{
    padding-bottom: 10px;
    padding-top: 2px;
}
.book tr:hover{
    background-color: transparent;
}
@media all and (min-width: 570px) {
    .aside {
        flex: 1 auto;
    }

    .links {
        min-width: 210px;
    }
}
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
    .links { min-width: 210px;}
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .links { order: 1; }
    .links { max-width: 210px;}
    .links { min-width: 210px;}
    .main    { order: 2; }
    .info { order: 3; }
    .footer  { order: 4; }
}

body {
    background: black;
    color: aqua;
}
table {
    border-collapse: collapse;
}
tr:hover {background-color: #4a657a}
th,td {
    padding: 15px;
}
a{
    color: aqua;
    padding: 10px;
}
a.inline{
    padding: 0px;
}
header{
    
}

nav .drop-down {
    list-style: none;
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: 86px;
    background-color: #34495e;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    float: left;
    position: absolute;



}

nav .drop-down.closed {
    /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
    /* current li height 38px + 5px border */
    height: 43px;
}

nav .drop-down li {
    border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
    display: block;
    color: aqua;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: -30px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
}

.drop-down.sortmenu{
    float: none;
    clear:both;
    position:relative;
    height: auto;
    z-index:10;
    overflow-y: inherit;
    max-height: 600px;
}
.drop-down.sortmenu.closed{
    overflow-y: hidden;
}
.drop-down ul {
    position: absolute;
}
.drop-down.sortmenu.sort2 {
    z-index: 8;
}
.drop-down li:hover {
    background-color: #4a657a;
}
#rsp_email{
    padding-top: 12px;
    position: absolute;
    text-align: center;

}

/*.header {background: